<section class="homepage-section homepage-about" id="about">
  <div class="profile-header">
    <!-- <img src="{{ "images/profile_gray.jpeg" | relURL }}" alt="Sukwon Yun" class="avatar" /> -->
    <p class="profile-email">sukwon@cs.washington.edu</p>
    <div class="social-links">
      <a href="https://scholar.google.com/citations?user=AgqvtZkAAAAJ&hl=en">Google Scholar</a>
      <a href="https://github.com/SukwonYun">GitHub</a>
      <a href="https://www.linkedin.com/in/sukwon-yun-bb55351b1">LinkedIn</a>
    </div>
  </div>

  <p>
    I am an incoming CS PhD student at the
    <a href="https://www.washington.edu" style="color:#8B0000; text-decoration: none;">University of Washington</a>. Before joining UW, 
    I was a research intern at the 
    <a href="https://www.roche.com/about/leadership/aviv-regev" style="color:#8B0000; text-decoration: none;">Regev Lab</a> at Genentech 
    and earned M.S. in Computer Science from 
    <a href="https://cs.unc.edu" style="color:#8B0000; text-decoration: none;">UNC Chapel Hill</a>. 
    <!-- I also earned an M.S. and a B.S. in Industrial Engineering from 
    <a href="https://www.kaist.ac.kr" style="color:#8B0000; text-decoration: none;">KAIST</a> and 
    <a href="https://www.hanyang.ac.kr" style="color:#8B0000; text-decoration: none;">Hanyang University</a>, respectively. -->
  </p>

  <p>I am interested in AI for biology. I develop multimodal learning and design multi-agent systems to model cellular behavior and design proteins. My work focuses on building collaborative AI frameworks that translate diverse biological signals into mechanistic understanding.</p>

</section>
